<div class="cars_categories">
	<div class="pagination nalog">
		<%= paginate @spareparts.present? || @products.blank? ? @spareparts : @products %>
	</div>
</div>
<h1><strong><%= params[:condition] %> Spareparts</strong>  <%= "Results (#{@products.size})" if params[:search] %></h1>