<div class="cars_categories">
	<div class="pagination nalog">
		<%= paginate @cars.present? || @products.blank? ? @cars : @products %>
	</div>
</div>
<h1><strong><%= params[:condition]%> Cars</strong> <%= "Result (#{@products.size})" if params[:search] %></h1>