<div class="cars_categories">
	<div class="pagination nalog">
		<%= paginate @spareparts %>
	</div>
</div>
<h1><strong><%= params[:condition] %> Spareparts</strong>  <%= "Results (#{@spareparts.size})" if params[:search] %></h1>
