<%= render layout: 'backend/shared/prepare_table', 
           locals: {
                     table_name:  'Type', 
                     button_name: 'Type',
                     add_method: true
                   } do %>
	<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
		<thead>
			<tr>
				<th class="text-center" width="10%">No</th>
				<th>Name</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
		<% @types.each_with_index do |type,index| %>
			<tr>
				<td class="text-center"><%= index + 1 %></td>
				<td><a href="javascript:void(0)"><%= type.name %></a></td>
				<td class="text-center">
					<%= render partial: 'backend/shared/action_buttons', locals: {resource: type, confirmation: "#{type.name} will be deleted, are you sure ?"} %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>