<div class="main_catalog">
	<div class="top_catalog_box padding-bottom0">
		<div class="sorting drop_list" data-id="sorted_field">
			<strong>Sort by: </strong>
			<input type="hidden" id="sorted_field" value="date">
			<input type="hidden" id="sorted_direction" value="desc">
			<div class="selected">
				<span><a href="#">Publish date</a></span>
				<ul>
					<li><a href="#" data-field="date" data-direction="desc">Publish date</a></li>
					<li><a href="#" data-field="price" data-direction="asc">Price ASC</a></li>
					<li><a href="#" data-field="price" data-direction="desc">Price DESC</a></li>
					<li><a href="#" data-field="name" data-direction="asc">Name ASC</a></li>
					<li><a href="#" data-field="name" data-direction="desc">Name DESC</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="view_on_page drop_list" data-id="view_on_page">
			<strong>View on page:</strong>
			<input type="hidden" id="view_on_page" value="12">
			<div class="selected">
				<span><a href="#">12</a></span>
				<ul>
					<li><a href="#" data-value="12">12</a></li>
					<li><a href="#" data-value="24">24</a></li>
					<li><a href="#" data-value="48">48</a></li>
					<li><a href="#" data-value="96">96</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>			
		<div class="pagination">
      <ul>
        <li class="active"><a href="http://autodealer.winterjuice.com/catalog/index">1</a></li>
    	  <li><a href="http://autodealer.winterjuice.com/catalog/index/2">2</a></li>
    	</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="left">
		<div class="recent_blog">
			<div class="br"></div>
			<div class="post_block">
				<a href="product" class="thumb"><img src="assets/pics/recent_blog_1.jpg" alt=""></a>
				<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
			</div>
			<div class="post_block">
				<a href="product" class="thumb"><img src="assets/pics/recent_blog_2.jpg" alt=""></a>
				<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
			</div>
			<div class="post_block last">
				<a href="product" class="thumb"><img src="assets/pics/recent_blog_3.jpg" alt=""></a>
				<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
			</div>
			<div class="post_block">
				<a href="product" class="thumb"><img src="assets/pics/recent_blog_1.jpg" alt=""></a>
				<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
			</div>
			<div class="post_block">
				<a href="product" class="thumb"><img src="assets/pics/recent_blog_2.jpg" alt=""></a>
				<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
			</div>
			<div class="post_block last">
				<a href="product" class="thumb"><img src="assets/pics/recent_blog_3.jpg" alt=""></a>
				<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="bottom_catalog_box padding-top0">		
		<div class="pagination">
      <ul> 
        <li class="active"><a href="http://autodealer.winterjuice.com/catalog/index">1</a></li>
    	  <li><a href="http://autodealer.winterjuice.com/catalog/index/2">2</a></li>
	    </ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>