<div class="profile_content">
	<h1 class="no_border"><strong>My</strong> cars</h1>
	<div class="search_cars">
		<a href="http://autodealer.winterjuice.com/profile/vehicles/add/" class="btn2" style="float:right;">Add auto</a>
		<div class="found_count">
			<span>Found:</span> 0 cars
			<span style="padding-left:30px;">Publish Limit:</span> 10 cars
		</div>
	</div>
	<div class="actions_cars">
		<a href="#" class="btn1" id="apply_actions">apply</a>
		<select class="text" id="select_action_car">
			<option value="0">Select action</option>
			<option value="car_republish">Republish</option>
			<option value="car_archive">Remove the archive</option>
		</select>
		<div class="label_select">Apply to the marked:</div>
		<div class="mark_all">
			<label><input type="checkbox" id="select_all_cars">Select all cars on the page</label>
		</div>
	</div>
	<div class="cars_list">
	  <div class="car" id="car-267">
			<div class="checkbox padd-left-cr">
				<input type="checkbox" class="select_car" name="select_car" value="267">
			</div>
			<div class="img"></div>
			<div class="general_info">
				<h2>AZLK MDX 24242</h2>
				<div class="date">March 13, 2014</div>
				<div class="price">22,142 <span>$</span></div>
			</div>
			<div class="location">
				Fabrication: 2013<br>
				Location: Germany
			</div>
			<div class="statistics_info">
				<div class="item-views">0 views</div>
				<div class="item-id">267</div>
				<div class="item-info">Used car</div>
			</div>
			<div class="count_photo">0 photos</div>
			<div class="actions">
				<a href="#" class="markered car_republish" data-id="267">Republish</a>
				<a href="http://autodealer.winterjuice.com/profile/vehicles/edit/267/" class="markered">Edit</a>
				<a href="http://autodealer.winterjuice.com/cars/azlk-mdx-24242/" class="markered">View on site</a>
				<a href="#" class="markered last car_archive" data-id="267">Remove the archive</a>
			</div>
		</div>
		<div class="car" id="car-267">
			<div class="checkbox padd-left-cr"><input type="checkbox" class="select_car" name="select_car" value="267"></div>
			<div class="img"></div>
			<div class="general_info">
				<h2>AZLK MDX 24242</h2>
				<div class="date">March 13, 2014</div>
				<div class="price">22,142 <span>$</span></div>
			</div>
			<div class="location">
				Fabrication: 2013<br>
				Location: Germany
			</div>
			<div class="statistics_info">
				<div class="item-views">0 views</div>
				<div class="item-id">267</div>
				<div class="item-info">Used car</div>
			</div>
			<div class="count_photo">0 photos</div>
			<div class="actions">
				<a href="#" class="markered car_republish" data-id="267">Republish</a>
				<a href="http://autodealer.winterjuice.com/profile/vehicles/edit/267/" class="markered">Edit</a>
				<a href="http://autodealer.winterjuice.com/cars/azlk-mdx-24242/" class="markered">View on site</a>
				<a href="#" class="markered last car_archive" data-id="267">Remove the archive</a>
			</div>
		</div>
	</div>

	<div class="bottom_catalog_box">
		<div class="clear"></div>
	</div>
</div>
<div class="clear mb1"></div>