<div class="profile_content">
	<div class="alert alert-success">
		<a class="close" data-dismiss="alert">×</a>
		Successfully Sign To Space Member Ototown <b><%= @user.username%> !!</b>
	</div>
</div>
<div class="clear mb1"></div>