<div class="margin-top80">
	<div id="content" class="back-white">
		<div class="content">
			<div class="breadcrumbs">
				<%= link_to 'Home', root_path %>
				<%= image_tag '../../assets/marker_2.gif' %>
				<%= link_to 'My Vehicle', products_path %>
				<%= image_tag '../../assets/marker_2.gif' %>
				Add Car
			</div>
			<div class="main_wrapper">
				<div class="main_wrapper">
					<h1><strong>Add</strong> Car</h1>
					<form method="post" action="#" id="vehicle-form">
						<div class="step_breadcrumb">
							<a href="#" class="active" id="step_1">step 1.  SELECT CATEGORIES</a>
							<a href="#" class="" id="step_2">step 2.  TECHNICAL CHARACTERISTICS</a>
							<a href="#" class="" id="step_3">step 3.  PHOTO</a>
						</div>
						<div class="sell_box step_1">
							<h2><strong>Categories</strong></h2>
							<div class="col_opt">
								<span class="custom_chb_wrapper">
									<span class="custom_chb">
										<input id="_4wd" name="_4wd" type="checkbox">
									</span>
									<label>ALL</label>
								</span>
							</div>
							<div class="col_opt">
								<span class="custom_chb_wrapper">
									<span class="custom_chb">
										<input id="_abs" name="_abs" type="checkbox">
									</span>
									<label>USED</label>
								</span>
							</div>
							<div class="col_opt">
								<span class="custom_chb_wrapper">
									<span class="custom_chb">
										<input id="_adjustable_suspension" name="_adjustable_suspension" type="checkbox">
									</span>
									<label>NEW</label>
								</span>
							</div>
							<div class="col_opt_last">
								<span class="custom_chb_wrapper">
									<span class="custom_chb">
										<input id="_air_conditioning" name="_air_conditioning" type="checkbox">
									</span>
									<label>CLASSIC</label>
								</span>
							</div>
							<div class="br"></div>
							<div class="col_1">
								<div class="select_wrapper">
									<label><span>* </span><strong>Category:</strong></label>
									<select name="#" class="text error">
										<option value="0">Select</option>
										<option value="1">Car</option>
										<option value="2">Spare parts</option>
									</select>
								</div>
							</div>
							<div class="col_2">
								<div class="input_wrapper">
									<label><span>* </span><strong>Title:</strong></label>
									<input type="text" class="text 100full" value=""/>
								</div>
							</div>
							<div class="col_3">
								<div class="select_wrapper">
									<label><span>* </span><strong>Status:</strong></label>
									<select name="#" class="text error">
										<option value="0">Select</option>
										<option value="1">Publish</option>
										<option value="2">Save Draft</option>
									</select>
								</div>
							</div>
							<div class="input_wrapper" style="width:98%">
								<label><span>* </span><strong>Description:</strong></label>
								<textarea class="text" style="width:100%;" id="post_content" name="post_content"></textarea>
							</div>
							<div class="clear"></div>
							<h2></h2>
							<div class="btn-next">
								<a href="#" class="btn3">Back</a>
								<a href="#" class="btn1">Next</a>
							</div>
						</div>
						<div class="sell_box step_2" style="display: none;">
							<h2><strong>Characteristics</strong></h2>
							<div class="col_1">
								<div class="select_wrapper">
									<label><span>* </span><strong>Province:</strong></label>
									<select name="#" class="text error">
										<option value="0">Select</option>
										<option value="1">DKI Jakarta</option>
										<option value="2">Jawa Barat</option>
										<option value="3">Kalimantan</option>
									</select>
								</div>
								<div class="select_wrapper">
									<label><span>* </span><strong>City:</strong></label>
									<select name="#" class="text error">
										<option value="0">Select</option>
										<option value="1">DKI Jakarta</option>
										<option value="2">Jawa Barat</option>
										<option value="3">Kalimantan</option>
									</select>
								</div>
								<div class="select_wrapper">
									<label><span>* </span><strong>Brand:</strong></label>
									<select class="text error" name="#">
										<option value="0">Select</option>
										<option value="1">Audi</option>
										<option value="2">Mercedes-Benz</option>
										<option value="3">BMW</option>
										<option value="4">Lexus</option>
										<option value="5">Lincoln</option>
										<option value="6">Ford</option>
										<option value="7">Fiat</option>
										<option value="8">Dodge</option>
									</select>
								</div>
							</div>
							<div class="col_2">
								<div class="select_wrapper">
									<label><span>* </span><strong>Model:</strong></label>
									<select class="text error" name="#">
										<option value="0">Select</option>
										<option value="1">R8</option>
										<option value="2">S500</option>
										<option value="3">540i</option>
										<option value="4">RX300</option>
										<option value="5">Navigator</option>
										<option value="6">Taurus</option>
										<option value="7">Doblo</option>
										<option value="8">Viper</option>
									</select>
								</div>
								<div class="select_wrapper">
									<label><span>* </span><strong>Transmission:</strong></label>
									<select class="text error" name="#">
										<option value="0">Select</option>
										<option value="1">Auto</option>
										<option value="2">Mechanic</option>
									</select>
								</div>
								<div class="input_wrapper price">
									<label><span>* </span><strong>Year:</strong></label>
									<select class="text valid" name="#">
										<option value="1">IDR</option>
										<option value="1">EURO</option>
										<option value="2">USD</option>
									</select>
								</div>
							</div>
							<div class="col_3">
								<div class="select_wrapper">
									<label><span>* </span><strong>Body Type:</strong></label>
									<select name="#" class="text error">
										<option value="0">Select</option>
										<option value="10">Chopper</option>
										<option value="2">Coupe</option>
										<option value="11">Cross</option>
										<option value="4">Hatchback</option>
										<option value="1">Sedan</option>
										<option value="9">Sport</option>
										<option value="3">SUV</option>
										<option value="5">Tagra</option>
										<option value="8">Truck</option>
										<option value="6">Van</option>
										<option value="7">Wagon</option>
									</select>
								</div>
								<div class="select_wrapper">
									<label><span></span><strong>Color: </strong></label>
									<select class="text valid" name="#">
										<option value="0">Select</option>
										<option value="1">White</option>
										<option value="1">White</option>
										<option value="1">White</option>
									</select>
								</div>
								<div class="input_wrapper price">
									<label><span>* </span><strong>Price:</strong></label>
									<select class="text valid" name="#">
										<option value="1">IDR</option>
										<option value="1">EURO</option>
										<option value="2">USD</option>
									</select>
									<input type="text" class="text" id="_price" name="_price" required="" number="" value="">
								</div>
							</div>
							<div class="clear"></div>
							<div class="clear"></div>
							<h2></h2>
							<div class="checkbox_items">
								<span class="custom_chb_wrapper">
									<span class="custom_chb">
										<input name="_price_negotiable" type="checkbox" id="_price_negotiable">
									</span>
									<label>Price Negotiable</label>
								</span>
							</div>
							<h2></h2>
							<div class="btn-next">
								<a href="#" class="btn1">Next</a>
							</div>
						</div>
						<div class="sell_box step_3" style="display: none;">
							<h2><strong>Vehicle</strong> photos</h2>
							<div id="loaded-images"></div>
							<div class="foto_wrapper" id="container">
								<span id="upload-photos" style="position: relative; z-index: 1;">
									<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/assets/images/upload.png" alt="" class="upload">
									upload photo
								</span>
								<div id="html5_18its6hbvjnf1c7qd2imu1ktv4_container" class="moxie-shim moxie-shim-html5">
									<input id="html5_18its6hbvjnf1c7qd2imu1ktv4" type="file" multiple="" accept="image/jpeg,image/gif,image/png">
								</div>
							</div>
							<div class="clear"></div>
							<h2></h2>
							<div class="btn-next">
								<a href="#" class="btn3">Back</a>
								<a href="#" class="btn1">Add</a>
								<span class="form_loading">
									<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/assets/images/loading.gif">
								</span>
							</div>
						</div>
					</form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>