<fieldset>
  <div class="form-group">
    <%= f.label :title, '',class: 'col-md-3 control-label' %>
    <div class="col-md-9">
     <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
   </div>
 </div>
</fieldset>
<div class="form-group form-actions submit-bott">
  <div class="col-md-8 col-md-offset-4">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
    <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
  </div>
</div>