<div class="services">
	<div class="service service_1">
		<h2><strong>Delivery</strong> on time</h2>
		<p>Lorem ipsum dolo stet consectetur adipiscin elit. Vestibulu dictum, vulputate ullamcoper lorem ipsum dolo stet.</p>
		<a href="#" class="more">More</a>
	</div>
	<div class="service service_2 center">
		<h2><strong>Quality</strong> service</h2>
		<p>Lorem ipsum dolo stet consectetur adipiscin elit. Vestibulu dictum, vulputate ullamcoper lorem ipsum dolo stet.</p>
		<a href="#" class="more">More</a>
	</div>
	<div class="service service_3">
		<h2><strong>Retro</strong> cars</h2>
		<p>Lorem ipsum dolo stet consectetur adipiscin elit. Vestibulu dictum, vulputate ullamcoper lorem ipsum dolo stet.</p>
		<a href="#" class="more">More</a>
	</div>
</div>